In [9]:
import pandas as pd
import numpy as np
import datetime 
import config

In [10]:
# get module variables
ROOT_DIR = config.ROOT_DIR

In [11]:
aw_sales = pd.read_csv(rf"{ROOT_DIR}\storage\processed\aw_sales.csv")

In [12]:
aw_sales["QuantityType"] = np.where(aw_sales["OrderQuantity"] > 1, "Multiple Items", "Single Item")

In [13]:
aw_sales.head()

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity,QuantityType
0,1/1/2015,9/21/2001,SO45080,332,14657,1,1,1,Single Item
1,1/1/2015,12/5/2001,SO45079,312,29255,4,1,1,Single Item
2,1/1/2015,10/29/2001,SO45082,350,11455,9,1,1,Single Item
3,1/1/2015,11/16/2001,SO45081,338,26782,6,1,1,Single Item
4,1/2/2015,12/15/2001,SO45083,312,14947,10,1,1,Single Item
...,...,...,...,...,...,...,...,...,...
56041,6/30/2017,3/22/2004,SO74143,477,28517,10,3,2,Multiple Items
56042,6/30/2017,3/15/2004,SO74143,479,28517,10,2,1,Single Item
56043,6/30/2017,4/8/2004,SO74143,606,28517,10,1,1,Single Item
56044,6/30/2017,5/15/2004,SO74124,480,21676,7,2,2,Multiple Items
56045,6/30/2017,5/4/2004,SO74124,538,21676,7,1,2,Multiple Items

In [14]:
aw_calendar_lookup = pd.read_csv(rf"{ROOT_DIR}\storage\processed\aw_calendar_lookup.csv")

In [17]:
aw_calendar_lookup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            912 non-null    object
 1   Day_Name        912 non-null    object
 2   Month_Name      912 non-null    object
 3   Year            912 non-null    int64
 4   Start_of_Year   912 non-null    object
 5   Start_of_Month  912 non-null    object
 6   Start_of_Week   912 non-null    object
dtypes: int64(1), object(6)
memory usage: 50.0+ KB

In [19]:
pd.to_datetime(aw_calendar_lookup["Date"]).dt.day_of_week + 1

0      4
1      5
2      6
3      7
4      1
      ..
907    1
908    2
909    3
910    4
911    5
Name: Date, Length: 912, dtype: int64