In [63]:
import pandas as pd
import numpy as np
import datetime 
import config

In [64]:
# get module variables
ROOT_DIR = config.ROOT_DIR

In [65]:
aw_product_cat = pd.read_csv(rf"{ROOT_DIR}\storage\processed\aw_product_categories_dim.csv")
aw_product_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ProductCategoryKey  4 non-null      int64
 1   CategoryName        4 non-null      object
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [66]:
aw_product_cat.head()

   ProductCategoryKey CategoryName
0                   1        Bikes
1                   2   Components
2                   3     Clothing
3                   4  Accessories

In [67]:
aw_product_subcat = pd.read_csv(rf"{ROOT_DIR}\storage\processed\aw_product_subcategories_dim.csv")
aw_product_subcat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductSubcategoryKey  37 non-null     int64
 1   SubcategoryName        37 non-null     object
 2   ProductCategoryKey     37 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1016.0+ bytes

In [68]:
aw_product_subcat.head()

   ProductSubcategoryKey  SubcategoryName  ProductCategoryKey
0                      1   Mountain Bikes                   1
1                      2       Road Bikes                   1
2                      3    Touring Bikes                   1
3                      4       Handlebars                   2
4                      5  Bottom Brackets                   2

In [69]:
aw_product = pd.read_csv(rf"{ROOT_DIR}\storage\processed\aw_products_dim.csv")
aw_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             293 non-null    int64
 1   ProductSubcategoryKey  293 non-null    int64
 2   ProductSKU             293 non-null    object
 3   ProductName            293 non-null    object
 4   ModelName              293 non-null    object
 5   ProductDescription     293 non-null    object
 6   ProductColor           243 non-null    object
 7   ProductStyle           209 non-null    object
 8   ProductCost            293 non-null    float64
 9   ProductPrice           293 non-null    float64
 10  DiscountPrice          293 non-null    float64
 11  SKUType                293 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 27.6+ KB

In [70]:
aw_product.head()

,ProductKey,ProductSubcategoryKey,ProductSKU,ProductName,ModelName,ProductDescription,ProductColor,ProductStyle,ProductCost,ProductPrice,DiscountPrice,SKUType
0,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,NaN,13.09,34.99,29.74,HL-U509
1,215,31,HL-U509,"Sport-100 Helmet, Black",Sport-100,"Universal fit, well-vented, lightweight , snap...",Black,NaN,12.03,33.64,28.60,HL-U509
2,218,23,SO-B909-M,"Mountain Bike Socks, M",Mountain Bike Socks,Combination of natural and synthetic fibers st...,White,U,3.40,9.50,8.07,SO-B909
3,219,23,SO-B909-L,"Mountain Bike Socks, L",Mountain Bike Socks,Combination of natural and synthetic fibers st...,White,U,3.40,9.50,8.07,SO-B909
4,220,31,HL-U509-B,"Sport-100 Helmet, Blue",Sport-100,"Universal fit, well-vented, lightweight , snap...",Blue,NaN,12.03,33.64,28.60,HL-U509

In [71]:
aw_returns = pd.read_csv(rf"{ROOT_DIR}\storage\processed\aw_returns_fact.csv")
aw_returns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1809 entries, 0 to 1808
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ReturnDate      1809 non-null   object
 1   TerritoryKey    1809 non-null   int64
 2   ProductKey      1809 non-null   int64
 3   ReturnQuantity  1809 non-null   int64
dtypes: int64(3), object(1)
memory usage: 56.7+ KB

In [72]:
aw_returns.head()

   ReturnDate  TerritoryKey  ProductKey  ReturnQuantity
0  2015-01-18             9         312               1
1  2015-01-18            10         310               1
2  2015-01-21             8         346               1
3  2015-01-22             4         311               1
4  2015-02-02             6         312               1

In [73]:
aw_sales_fact = pd.read_csv(rf"{ROOT_DIR}\storage\processed\aw_sales_fact.csv")
aw_sales_fact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56046 entries, 0 to 56045
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderDate      56046 non-null  object
 1   StockDate      56046 non-null  object
 2   OrderNumber    56046 non-null  object
 3   ProductKey     56046 non-null  int64
 4   CustomerKey    56046 non-null  int64
 5   TerritoryKey   56046 non-null  int64
 6   OrderLineItem  56046 non-null  int64
 7   OrderQuantity  56046 non-null  int64
 8   QuantityType   56046 non-null  object
 9   ProductPrice   56046 non-null  float64
 10  Revenue        56046 non-null  float64
dtypes: float64(2), int64(5), object(4)
memory usage: 4.7+ MB

In [74]:
aw_sales_fact.head()

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity,QuantityType,ProductPrice,Revenue
0,2015-01-01,2001-09-21,SO45080,332,14657,1,1,1,Single Item,699.1,699.1
1,2015-02-06,2001-10-12,SO45383,332,14734,1,1,1,Single Item,699.1,699.1
2,2015-03-03,2002-01-27,SO45596,332,20564,10,1,1,Single Item,699.1,699.1
3,2015-03-26,2002-02-05,SO45748,332,18046,7,1,1,Single Item,699.1,699.1
4,2015-04-14,2002-02-12,SO45894,332,19450,8,1,1,Single Item,699.1,699.1

In [75]:
# joins for aw_sales_fact
aw_sales_merge = pd.merge(left=aw_product_cat, right=aw_product_subcat, on="ProductCategoryKey").merge(aw_product, on="ProductSubcategoryKey").merge(aw_sales_fact, on="ProductKey")

In [85]:
aw_sales_merge.loc[aw_sales_merge["OrderQuantity"] > 1].groupby("CategoryName")["OrderNumber"].nunique().to_frame().reset_index()

  CategoryName  OrderNumber
0  Accessories        13370
1     Clothing         3414

In [84]:
pd.concat([aw_sales_merge.groupby("CategoryName")["OrderNumber"].nunique().to_frame().reset_index(), pd.DataFrame(data={"CategoryName": "Total", "OrderNumber": aw_sales_merge["OrderNumber"].nunique()}, index=[0])])

  CategoryName  OrderNumber
0  Accessories        16983
1        Bikes        13929
2     Clothing         6976
0        Total        25164

In [62]:
#joins for aw_returns_fact
aw_returns_merge = pd.merge(left=aw_product_cat, right=aw_product_subcat, on="ProductCategoryKey").merge(aw_product, on="ProductSubcategoryKey").merge(aw_returns, on="ProductKey")
aw_returns_merge

,ProductCategoryKey,CategoryName,ProductSubcategoryKey,SubcategoryName,ProductKey,ProductSKU,ProductName,ModelName,ProductDescription,ProductColor,ProductStyle,ProductCost,ProductPrice,DiscountPrice,SKUType,ReturnDate,TerritoryKey,ReturnQuantity
0,1,Bikes,1,Mountain Bikes,346,BK-M82S-44,"Mountain-100 Silver, 44",Mountain-100,Top-of-the-line competition mountain bike. Per...,Silver,U,1912.15,3399.99,2889.99,BK-M82S,2015-01-21,8,1
1,1,Bikes,1,Mountain Bikes,346,BK-M82S-44,"Mountain-100 Silver, 44",Mountain-100,Top-of-the-line competition mountain bike. Per...,Silver,U,1912.15,3399.99,2889.99,BK-M82S,2015-03-14,4,1
2,1,Bikes,1,Mountain Bikes,347,BK-M82S-48,"Mountain-100 Silver, 48",Mountain-100,Top-of-the-line competition mountain bike. Per...,Silver,U,1912.15,3399.99,2889.99,BK-M82S,2015-06-20,9,1
3,1,Bikes,1,Mountain Bikes,348,BK-M82B-38,"Mountain-100 Black, 38",Mountain-100,Top-of-the-line competition mountain bike. Per...,Black,U,1898.09,3374.99,2868.74,BK-M82B,2015-04-29,9,1
4,1,Bikes,1,Mountain Bikes,349,BK-M82B-42,"Mountain-100 Black, 42",Mountain-100,Top-of-the-line competition mountain bike. Per...,Black,U,1898.09,3374.99,2868.74,BK-M82B,2015-04-16,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804,4,Accessories,37,Tires and Tubes,541,TI-T723,Touring Tire,Touring Tire,High-density rubber.,NaN,NaN,10.84,28.99,24.64,TI-T723,2017-04-22,7,1
1805,4,Accessories,37,Tires and Tubes,541,TI-T723,Touring Tire,Touring Tire,High-density rubber.,NaN,NaN,10.84,28.99,24.64,TI-T723,2017-04-29,1,1
1806,4,Accessories,37,Tires and Tubes,541,TI-T723,Touring Tire,Touring Tire,High-density rubber.,NaN,NaN,10.84,28.99,24.64,TI-T723,2017-05-05,8,1
1807,4,Accessories,37,Tires and Tubes,541,TI-T723,Touring Tire,Touring Tire,High-density rubber.,NaN,NaN,10.84,28.99,24.64,TI-T723,2017-05-11,10,1
1808,4,Accessories,37,Tires and Tubes,541,TI-T723,Touring Tire,Touring Tire,High-density rubber.,NaN,NaN,10.84,28.99,24.64,TI-T723,2017-06-29,8,1

In [93]:
aw_returns_merge.fillna("NULL").groupby("CategoryName").count()

,ProductCategoryKey,ProductSubcategoryKey,SubcategoryName,ProductKey,ProductSKU,ProductName,ModelName,ProductDescription,ProductColor,ProductStyle,ProductCost,ProductPrice,DiscountPrice,SKUType,ReturnDate,TerritoryKey,ReturnQuantity
CategoryName,,,,,,,,,,,,,,,,,
Accessories,1115,1115,1115,1115,1115,1115,1115,1115,1115,1115,1115,1115,1115,1115,1115,1115,1115
Bikes,427,427,427,427,427,427,427,427,427,427,427,427,427,427,427,427,427
Clothing,267,267,267,267,267,267,267,267,267,267,267,267,267,267,267,267,267

In [ ]:
aw_returns_merge.fillna("NULL").groupby("CategoryName").count()

In [94]:
aw_product["ProductPrice"].mean()

714.4369283276451

In [98]:
aw_sales_merge

,ProductCategoryKey,CategoryName,ProductSubcategoryKey,SubcategoryName,ProductKey,ProductSKU,ProductName,ModelName,ProductDescription,ProductColor,...,OrderDate,StockDate,OrderNumber,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity,QuantityType,ProductPrice_y,Revenue
0,1,Bikes,1,Mountain Bikes,344,BK-M82S-38,"Mountain-100 Silver, 38",Mountain-100,Top-of-the-line competition mountain bike. Per...,Silver,...,2015-01-04,2001-12-07,SO45095,11394,10,1,1,Single Item,3399.99,3399.99
1,1,Bikes,1,Mountain Bikes,344,BK-M82S-38,"Mountain-100 Silver, 38",Mountain-100,Top-of-the-line competition mountain bike. Per...,Silver,...,2015-01-08,2001-11-25,SO45120,11751,9,1,1,Single Item,3399.99,3399.99
2,1,Bikes,1,Mountain Bikes,344,BK-M82S-38,"Mountain-100 Silver, 38",Mountain-100,Top-of-the-line competition mountain bike. Per...,Silver,...,2015-01-11,2001-09-14,SO45131,25979,1,1,1,Single Item,3399.99,3399.99
3,1,Bikes,1,Mountain Bikes,344,BK-M82S-38,"Mountain-100 Silver, 38",Mountain-100,Top-of-the-line competition mountain bike. Per...,Silver,...,2015-01-14,2001-12-30,SO45157,11750,9,1,1,Single Item,3399.99,3399.99
4,1,Bikes,1,Mountain Bikes,344,BK-M82S-38,"Mountain-100 Silver, 38",Mountain-100,Top-of-the-line competition mountain bike. Per...,Silver,...,2015-01-14,2001-10-13,SO45156,11465,9,1,1,Single Item,3399.99,3399.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56041,4,Accessories,37,Tires and Tubes,541,TI-T723,Touring Tire,Touring Tire,High-density rubber.,NaN,...,2017-06-28,2004-06-03,SO73980,12602,10,1,1,Single Item,28.99,28.99
56042,4,Accessories,37,Tires and Tubes,541,TI-T723,Touring Tire,Touring Tire,High-density rubber.,NaN,...,2017-06-29,2004-03-25,SO74058,27330,8,3,2,Multiple Items,28.99,57.98
56043,4,Accessories,37,Tires and Tubes,541,TI-T723,Touring Tire,Touring Tire,High-density rubber.,NaN,...,2017-06-29,2004-04-21,SO74080,24310,6,2,1,Single Item,28.99,28.99
56044,4,Accessories,37,Tires and Tubes,541,TI-T723,Touring Tire,Touring Tire,High-density rubber.,NaN,...,2017-06-29,2004-06-07,SO74043,27011,1,1,2,Multiple Items,28.99,57.98
56045,4,Accessories,37,Tires and Tubes,541,TI-T723,Touring Tire,Touring Tire,High-density rubber.,NaN,...,2017-06-30,2004-04-13,SO74133,13765,10,2,2,Multiple Items,28.99,57.98

In [102]:
aw_sales_merge[aw_sales_merge["ProductPrice_y"] > aw_product["ProductPrice"].mean()].groupby("CategoryName")["OrderNumber"].nunique().to_frame().reset_index()

  CategoryName  OrderNumber
0        Bikes        11312