In [261]:
import pandas as pd
import numpy as np
import datetime 
import config

In [262]:
# get module variables
ROOT_DIR = config.ROOT_DIR

In [263]:
aw_returns = pd.read_csv(rf"{ROOT_DIR}/storage/processed/aw_returns.csv")

In [264]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar'],
                   'B' : [1, 2, 3, 4, 5, 6],
                   'C' : [2.0, 5., 8., 1., 2., 9.]})
df

     A  B    C
0  foo  1  2.0
1  bar  2  5.0
2  foo  3  8.0
3  bar  4  1.0
4  foo  5  2.0
5  bar  6  9.0

In [265]:
grouped = df.groupby('A')
for i, j in grouped:
    print(i)
    print(j)

bar
     A  B    C
1  bar  2  5.0
3  bar  4  1.0
5  bar  6  9.0
foo
     A  B    C
0  foo  1  2.0
2  foo  3  8.0
4  foo  5  2.0

In [266]:
grouped.filter(lambda x: x['B'].mean() > 3.)

     A  B    C
1  bar  2  5.0
3  bar  4  1.0
5  bar  6  9.0

In [267]:
def get_quantity_type(x):
    if x > 1:
        return "Multiple Items"
    else:
        return "Single Item"
    
aw_sales["QuantityType"] = aw_sales["OrderQuantity"].transform(get_quantity_type)

In [268]:
aw_products = pd.read_csv(rf"{ ROOT_DIR}/storage/processed/aw_products_lookup.csv")

In [269]:
aw_sales["Revenue"] = aw_sales["OrderQuantity"] * aw_sales["RetailPrice"]

In [270]:
aw_sales

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity,QuantityType,RetailPrice,Revenue
0,2015-01-01,9/21/2001,SO45080,332,14657,1,1,1,Single Item,699.10,699.10
1,2015-02-06,10/12/2001,SO45383,332,14734,1,1,1,Single Item,699.10,699.10
2,2015-03-03,1/27/2002,SO45596,332,20564,10,1,1,Single Item,699.10,699.10
3,2015-03-26,2/5/2002,SO45748,332,18046,7,1,1,Single Item,699.10,699.10
4,2015-04-14,2/12/2002,SO45894,332,19450,8,1,1,Single Item,699.10,699.10
...,...,...,...,...,...,...,...,...,...,...,...
56041,2017-05-24,4/8/2004,SO71270,570,11084,1,1,1,Single Item,742.35,742.35
56042,2017-06-03,4/25/2004,SO72126,570,11368,9,1,1,Single Item,742.35,742.35
56043,2017-06-06,4/25/2004,SO72355,570,11359,9,1,1,Single Item,742.35,742.35
56044,2017-06-07,3/29/2004,SO72419,570,26647,4,1,1,Single Item,742.35,742.35
56045,2017-06-11,4/1/2004,SO72699,570,27899,7,1,1,Single Item,742.35,742.35

In [271]:
aw_categories = pd.read_csv(rf"{ROOT_DIR}/storage/processed/aw_product_categories_lookup.csv")
aw_subcategories = pd.read_csv(rf"{ROOT_DIR}/storage/processed/aw_product_subcategories_lookup.csv")

In [272]:
aw_products.head()

,ProductKey,ProductSubcategoryKey,ProductSKU,ProductName,ModelName,ProductDescription,ProductColor,ProductStyle,ProductCost,ProductPrice,DiscountPrice,SKUType
0,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,NaN,13.09,34.99,29.74,U509-R
1,215,31,HL-U509,"Sport-100 Helmet, Black",Sport-100,"Universal fit, well-vented, lightweight , snap...",Black,NaN,12.03,33.64,28.60,U509
2,218,23,SO-B909-M,"Mountain Bike Socks, M",Mountain Bike Socks,Combination of natural and synthetic fibers st...,White,U,3.40,9.50,8.07,B909-M
3,219,23,SO-B909-L,"Mountain Bike Socks, L",Mountain Bike Socks,Combination of natural and synthetic fibers st...,White,U,3.40,9.50,8.07,B909-L
4,220,31,HL-U509-B,"Sport-100 Helmet, Blue",Sport-100,"Universal fit, well-vented, lightweight , snap...",Blue,NaN,12.03,33.64,28.60,U509-B

In [273]:
aw_categories

   ProductCategoryKey CategoryName
0                   1        Bikes
1                   2   Components
2                   3     Clothing
3                   4  Accessories

In [274]:
aw_subcategories

    ProductSubcategoryKey    SubcategoryName  ProductCategoryKey
0                       1     Mountain Bikes                   1
1                       2         Road Bikes                   1
2                       3      Touring Bikes                   1
3                       4         Handlebars                   2
4                       5    Bottom Brackets                   2
5                       6             Brakes                   2
6                       7             Chains                   2
7                       8          Cranksets                   2
8                       9        Derailleurs                   2
9                      10              Forks                   2
10                     11           Headsets                   2
11                     12    Mountain Frames                   2
12                     13             Pedals                   2
13                     14        Road Frames                   2
14                     15            Saddles                   2
15                     16     Touring Frames                   2
16                     17             Wheels                   2
17                     18         Bib-Shorts                   3
18                     19               Caps                   3
19                     20             Gloves                   3
20                     21            Jerseys                   3
21                     22             Shorts                   3
22                     23              Socks                   3
23                     24             Tights                   3
24                     25              Vests                   3
25                     26         Bike Racks                   4
26                     27        Bike Stands                   4
27                     28  Bottles and Cages                   4
28                     29           Cleaners                   4
29                     30            Fenders                   4
30                     31            Helmets                   4
31                     32    Hydration Packs                   4
32                     33             Lights                   4
33                     34              Locks                   4
34                     35           Panniers                   4
35                     36              Pumps                   4
36                     37    Tires and Tubes                   4

In [275]:
aw_products.loc[:, ["ProductKey", "ProductSubcategoryKey"]].merge(aw_subcategories.loc[:, ["ProductSubcategoryKey", "ProductCategoryKey"]], on="ProductSubcategoryKey").merge(aw_categories.loc[:, ["ProductCategoryKey", "CategoryName"]], on="ProductCategoryKey").merge(final_matrix.loc[:, ["ProductKey", "ProductName", "Revenue", "QuantitySold", "Return_Rate"]], on="ProductKey").groupby(["CategoryName"]).count()

,ProductKey,ProductSubcategoryKey,ProductCategoryKey,ProductName,Revenue,QuantitySold,Return_Rate
CategoryName,,,,,,,
Accessories,22,22,22,22,22,22,22
Bikes,88,88,88,88,88,88,82
Clothing,20,20,20,20,20,20,20

In [276]:
pd.merge(left=aw_products.loc[:, ["ProductKey", "ProductName"]], right=aw_sales.loc[:, ["ProductKey", "Revenue", "OrderQuantity"]], on="ProductKey").groupby(["ProductName", "ProductKey"], as_index=False).sum().rename(columns={"OrderQuantity": "QuantitySold"})

                    ProductName  ProductKey   Revenue  QuantitySold
0                  AWC Logo Cap         223  35864.64          4151
1        All-Purpose Bike Stand         486  37206.00           234
2         Bike Wash - Dissolver         484  13562.70          1706
3               Classic Vest, L         473  11557.00           182
4               Classic Vest, M         472  11557.00           182
..                          ...         ...       ...           ...
125     Touring-3000 Yellow, 62         572  35632.80            48
126       Water Bottle - 30 oz.         477  39755.33          7967
127  Women's Mountain Shorts, L         476  23376.66           334
128  Women's Mountain Shorts, M         475  22886.73           327
129  Women's Mountain Shorts, S         474  19807.17           283

[130 rows x 4 columns]

In [277]:
cat_df = pd.merge(left=aw_products.loc[:, ["ProductKey", "ProductSubcategoryKey"]], right=aw_subcategories, on="ProductSubcategoryKey").merge(aw_categories, on="ProductCategoryKey").loc[:, ["ProductKey", "CategoryName"]]

In [278]:
aw_sales_merge = pd.merge(left=cat_df, right=aw_sales, on="ProductKey")
aw_sales_merge[aw_sales_merge["OrderQuantity"] > 1].groupby(["CategoryName"])["OrderNumber"].nunique()

CategoryName
Accessories    13370
Clothing        3414
Name: OrderNumber, dtype: int64

In [279]:
aw_products

,ProductKey,ProductSubcategoryKey,ProductSKU,ProductName,ModelName,ProductDescription,ProductColor,ProductStyle,ProductCost,ProductPrice,DiscountPrice,SKUType
0,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,NaN,13.09,34.99,29.74,U509-R
1,215,31,HL-U509,"Sport-100 Helmet, Black",Sport-100,"Universal fit, well-vented, lightweight , snap...",Black,NaN,12.03,33.64,28.60,U509
2,218,23,SO-B909-M,"Mountain Bike Socks, M",Mountain Bike Socks,Combination of natural and synthetic fibers st...,White,U,3.40,9.50,8.07,B909-M
3,219,23,SO-B909-L,"Mountain Bike Socks, L",Mountain Bike Socks,Combination of natural and synthetic fibers st...,White,U,3.40,9.50,8.07,B909-L
4,220,31,HL-U509-B,"Sport-100 Helmet, Blue",Sport-100,"Universal fit, well-vented, lightweight , snap...",Blue,NaN,12.03,33.64,28.60,U509-B
...,...,...,...,...,...,...,...,...,...,...,...,...
288,602,5,BB-8107,ML Bottom Bracket,ML Bottom Bracket,Aluminum alloy cups; large diameter spindle.,NaN,NaN,44.95,101.24,86.05,8107
289,603,5,BB-9108,HL Bottom Bracket,HL Bottom Bracket,Aluminum alloy cups and a hollow axle.,NaN,NaN,53.94,121.49,103.27,9108
290,604,2,BK-R19B-44,"Road-750 Black, 44",Road-750,Entry level adult bike; offers a comfortable r...,Black,U,343.65,539.99,458.99,R19B-44
291,605,2,BK-R19B-48,"Road-750 Black, 48",Road-750,Entry level adult bike; offers a comfortable r...,Black,U,343.65,539.99,458.99,R19B-48
292,606,2,BK-R19B-52,"Road-750 Black, 52",Road-750,Entry level adult bike; offers a comfortable r...,Black,U,343.65,539.99,458.99,R19B-52

In [280]:
aw_sales_merge

,ProductKey,CategoryName,OrderDate,StockDate,OrderNumber,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity,QuantityType,RetailPrice,Revenue
0,214,Accessories,2016-07-01,4/25/2003,SO51180,16313,8,4,1,Single Item,34.99,34.99
1,214,Accessories,2016-07-01,3/8/2003,SO51181,12132,7,4,1,Single Item,34.99,34.99
2,214,Accessories,2016-07-02,6/11/2003,SO51191,12390,8,4,1,Single Item,34.99,34.99
3,214,Accessories,2016-07-02,3/4/2003,SO51192,11241,7,2,1,Single Item,34.99,34.99
4,214,Accessories,2016-07-03,3/20/2003,SO51207,11338,8,4,1,Single Item,34.99,34.99
...,...,...,...,...,...,...,...,...,...,...,...,...
56041,586,Bikes,2017-06-20,5/24/2004,SO73382,16045,10,1,1,Single Item,742.35,742.35
56042,586,Bikes,2017-06-20,5/16/2004,SO73397,11252,4,1,1,Single Item,742.35,742.35
56043,586,Bikes,2017-06-21,4/24/2004,SO73498,11942,9,1,1,Single Item,742.35,742.35
56044,586,Bikes,2017-06-24,5/30/2004,SO73709,11360,9,1,1,Single Item,742.35,742.35
56045,586,Bikes,2017-06-25,4/17/2004,SO73759,16053,10,1,1,Single Item,742.35,742.35

In [281]:
aw_grouped.filter(lambda x: x[""])

KeyError: ''

In [ ]:
pd.merge(left=cat_df, right=aw_sales, on="ProductKey").groupby(["CategoryName"])["OrderNumber"].nunique()

CategoryName
Accessories    16983
Bikes          13929
Clothing        6976
Name: OrderNumber, dtype: int64

In [ ]:
pd.merge(left=cat_df, right=aw_sales, on="ProductKey")["OrderNumber"].nunique()

25164

In [ ]:
a = pd.merge(left=cat_df, right=aw_sales, on="ProductKey")
a[a["QuantityType"] == "Multiple Items"].sort_values(by="OrderNumber", ascending=False)

,ProductKey,CategoryName,OrderDate,StockDate,OrderNumber,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity,QuantityType,RetailPrice,Revenue
27022,538,Accessories,6/30/2017,5/29/2004,SO74147,27473,9,2,2,Multiple Items,21.49,42.98
10016,477,Accessories,6/30/2017,3/22/2004,SO74143,28517,10,3,2,Multiple Items,4.99,9.98
40716,462,Clothing,6/30/2017,6/2/2004,SO74143,28517,10,4,2,Multiple Items,23.55,47.10
10004,477,Accessories,6/30/2017,3/4/2004,SO74140,24757,6,3,3,Multiple Items,4.99,14.97
13575,479,Accessories,6/30/2017,4/19/2004,SO74140,24757,6,2,2,Multiple Items,8.99,17.98
...,...,...,...,...,...,...,...,...,...,...,...,...
19380,529,Accessories,7/1/2016,6/14/2003,SO51181,12132,7,2,2,Multiple Items,3.99,7.98
11914,479,Accessories,7/1/2016,6/5/2003,SO51180,16313,8,2,2,Multiple Items,8.99,17.98
19379,529,Accessories,7/1/2016,4/6/2003,SO51179,22430,7,3,2,Multiple Items,3.99,7.98
10017,478,Accessories,7/1/2016,6/2/2003,SO51178,11245,8,2,2,Multiple Items,9.99,19.98
6035,477,Accessories,7/1/2016,3/26/2003,SO51178,11245,8,3,2,Multiple Items,4.99,9.98

In [293]:
aw_products["ProductPrice"].mean()

714.4369283276451

In [295]:
avg_price = aw_products["ProductPrice"].mean()
print(avg_price)
a.groupby("CategoryName").filter(lambda x: x["RetailPrice"].mean() > avg_price).groupby("CategoryName")["OrderNumber"].nunique()

714.4369283276451

CategoryName
Bikes    13929
Name: OrderNumber, dtype: int64

In [ ]:
pd.merge(left=cat_df, right=aw_returns, on="ProductKey")

      ProductKey CategoryName  ReturnDate  TerritoryKey  ReturnQuantity
0            214  Accessories  2016-08-14             8               1
1            214  Accessories  2016-08-21             1               1
2            214  Accessories  2016-08-21             8               1
3            214  Accessories  2016-08-24             9               1
4            214  Accessories  2016-09-06             1               1
...          ...          ...         ...           ...             ...
1804         578        Bikes  2017-05-10             1               1
1805         578        Bikes  2017-06-01             8               1
1806         579        Bikes  2017-05-24             9               1
1807         586        Bikes  2016-12-01             7               1
1808         586        Bikes  2017-06-20             8               1

[1809 rows x 5 columns]

In [ ]:
pd.merge(left=cat_df, right=aw_returns, on="ProductKey").groupby(["CategoryName"]).count()

              ProductKey  ReturnDate  TerritoryKey  ReturnQuantity
CategoryName
Accessories         1115        1115          1115            1115
Bikes                427         427           427             427
Clothing             267         267           267             267

In [ ]:
pd.merge(left=cat_df, right=aw_returns, on="ProductKey").groupby(["CategoryName"]).nunique()

              ProductKey  ReturnDate  TerritoryKey  ReturnQuantity
CategoryName
Accessories           22         339             8               2
Bikes                 82         312             7               2
Clothing              20         183             7               2

In [ ]:
aw_sales

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity,QuantityType,RetailPrice,Revenue
0,1/1/2015,9/21/2001,SO45080,332,14657,1,1,1,Single Item,699.10,699.10
1,2/6/2015,10/12/2001,SO45383,332,14734,1,1,1,Single Item,699.10,699.10
2,3/3/2015,1/27/2002,SO45596,332,20564,10,1,1,Single Item,699.10,699.10
3,3/26/2015,2/5/2002,SO45748,332,18046,7,1,1,Single Item,699.10,699.10
4,4/14/2015,2/12/2002,SO45894,332,19450,8,1,1,Single Item,699.10,699.10
...,...,...,...,...,...,...,...,...,...,...,...
56041,5/24/2017,4/8/2004,SO71270,570,11084,1,1,1,Single Item,742.35,742.35
56042,6/3/2017,4/25/2004,SO72126,570,11368,9,1,1,Single Item,742.35,742.35
56043,6/6/2017,4/25/2004,SO72355,570,11359,9,1,1,Single Item,742.35,742.35
56044,6/7/2017,3/29/2004,SO72419,570,26647,4,1,1,Single Item,742.35,742.35
56045,6/11/2017,4/1/2004,SO72699,570,27899,7,1,1,Single Item,742.35,742.35

In [ ]:
aw_calendar = pd.read_csv(rf"{ROOT_DIR}/storage/processed/aw_calendar_lookup.csv")

In [ ]:
aw_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            912 non-null    object
 1   Day_Name        912 non-null    object
 2   Month_Name      912 non-null    object
 3   Year            912 non-null    int64
 4   Start_of_Year   912 non-null    object
 5   Start_of_Month  912 non-null    object
 6   Start_of_Week   912 non-null    object
 7   Day_Of_Week     912 non-null    int64
 8   Weekend         912 non-null    object
dtypes: int64(2), object(7)
memory usage: 64.2+ KB

In [ ]:
aw_calendar["Date"] = pd.to_datetime(aw_calendar["Date"])

In [ ]:
aw_sales["OrderDate"] = pd.to_datetime(aw_sales["OrderDate"], format="%m/%d/%Y")

In [ ]:
aw_sales_cal = pd.merge(left=aw_sales, right=aw_calendar, left_on="OrderDate", right_on="Date")

In [ ]:
a = pd.merge(left=cat_df, right=aw_sales_cal, on="ProductKey")
a[a["Weekend"] == "Weekend"].groupby("CategoryName")["OrderNumber"].nunique()

CategoryName
Accessories    4713
Bikes          3928
Clothing       1963
Name: OrderNumber, dtype: int64

In [ ]:
aw_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56046 entries, 0 to 56045
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderDate      56046 non-null  datetime64[ns]
 1   StockDate      56046 non-null  object
 2   OrderNumber    56046 non-null  object
 3   ProductKey     56046 non-null  int64
 4   CustomerKey    56046 non-null  int64
 5   TerritoryKey   56046 non-null  int64
 6   OrderLineItem  56046 non-null  int64
 7   OrderQuantity  56046 non-null  int64
 8   QuantityType   56046 non-null  object
 9   RetailPrice    56046 non-null  float64
 10  Revenue        56046 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(3)
memory usage: 5.1+ MB

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity,QuantityType,RetailPrice,Revenue,Date,Day_Name,Month_Name,Year,Start_of_Year,Start_of_Month,Start_of_Week,Day_Of_Week,Weekend
0,2015-01-01,9/21/2001,SO45080,332,14657,1,1,1,Single Item,699.10,699.10,2015-01-01,Thursday,January,2015,2015-01-01,2015-01-01,2014-12-29,4,Weekday
1,2015-01-01,12/5/2001,SO45079,312,29255,4,1,1,Single Item,3578.27,3578.27,2015-01-01,Thursday,January,2015,2015-01-01,2015-01-01,2014-12-29,4,Weekday
2,2015-01-01,10/29/2001,SO45082,350,11455,9,1,1,Single Item,3374.99,3374.99,2015-01-01,Thursday,January,2015,2015-01-01,2015-01-01,2014-12-29,4,Weekday
3,2015-01-01,11/16/2001,SO45081,338,26782,6,1,1,Single Item,699.10,699.10,2015-01-01,Thursday,January,2015,2015-01-01,2015-01-01,2014-12-29,4,Weekday
4,2015-02-06,10/12/2001,SO45383,332,14734,1,1,1,Single Item,699.10,699.10,2015-02-06,Friday,February,2015,2015-01-01,2015-02-01,2015-02-02,5,Weekday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56041,2016-08-27,7/18/2003,SO53236,564,28208,9,1,1,Single Item,2384.07,2384.07,2016-08-27,Saturday,August,2016,2016-01-01,2016-08-01,2016-08-22,6,Weekend
56042,2016-08-27,5/7/2003,SO53192,491,15153,9,2,1,Single Item,53.99,53.99,2016-08-27,Saturday,August,2016,2016-01-01,2016-08-01,2016-08-22,6,Weekend
56043,2016-08-27,5/2/2003,SO53237,561,11002,9,1,1,Single Item,2384.07,2384.07,2016-08-27,Saturday,August,2016,2016-01-01,2016-08-01,2016-08-22,6,Weekend
56044,2016-08-27,5/16/2003,SO53234,587,13871,4,1,1,Single Item,769.49,769.49,2016-08-27,Saturday,August,2016,2016-01-01,2016-08-01,2016-08-22,6,Weekend
56045,2016-08-27,4/29/2003,SO53205,483,11330,6,3,1,Single Item,120.00,120.00,2016-08-27,Saturday,August,2016,2016-01-01,2016-08-01,2016-08-22,6,Weekend