In [5]:
import pandas as pd
import numpy as np
import datetime 
import config

In [6]:
# get module variables
ROOT_DIR = config.ROOT_DIR

In [7]:
aw_sales_fact = pd.read_csv(rf"{ROOT_DIR}\storage\processed\aw_sales_fact.csv")

In [8]:
aw_sales_fact.head()

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity,QuantityType
0,2015-01-01,2001-09-21,SO45080,332,14657,1,1,1,Single Item
1,2015-01-01,2001-12-05,SO45079,312,29255,4,1,1,Single Item
2,2015-01-01,2001-10-29,SO45082,350,11455,9,1,1,Single Item
3,2015-01-01,2001-11-16,SO45081,338,26782,6,1,1,Single Item
4,2015-01-02,2001-12-15,SO45083,312,14947,10,1,1,Single Item

In [9]:
aw_sales_fact["OrderQuantity"].sum()

84174