In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../')
import config

In [2]:
# get module variable for root directory
ROOT_DIR = config.ROOT_DIR

#### Transform AdventureWorks_Returns.csv

In [3]:
aw_returns_fact = pd.read_csv(rf"{ROOT_DIR}/../storage/raw/AdventureWorks_Returns.csv")

In [4]:
# convert return date to datetime[ns] data type
aw_returns_fact["ReturnDate"] = pd.to_datetime(aw_returns_fact["ReturnDate"], format="%m/%d/%Y")

In [5]:
aw_returns_fact.head()

  ReturnDate  TerritoryKey  ProductKey  ReturnQuantity
0 2015-01-18             9         312               1
1 2015-01-18            10         310               1
2 2015-01-21             8         346               1
3 2015-01-22             4         311               1
4 2015-02-02             6         312               1

In [6]:
aw_returns_fact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1809 entries, 0 to 1808
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ReturnDate      1809 non-null   datetime64[ns]
 1   TerritoryKey    1809 non-null   int64
 2   ProductKey      1809 non-null   int64
 3   ReturnQuantity  1809 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 56.7 KB

In [7]:
# write transformed returns dataset to processed layer for powerbi consumption
aw_returns_fact.to_csv(rf"{ROOT_DIR}/../storage/processed/aw_returns_fact.csv", index=False)