In [13]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../')
import config

In [14]:
# get module variable for root directory
ROOT_DIR = config.ROOT_DIR

#### Transform AdventureWorks_Product_Categories.csv and AdventureWorks_Product_Subcategories.csv

In [15]:
aw_product_categories_dim = pd.read_csv(rf"{ROOT_DIR}/../storage/raw/AdventureWorks_Product_Categories.csv")

In [16]:
aw_product_categories_dim.head()

   ProductCategoryKey CategoryName
0                   1        Bikes
1                   2   Components
2                   3     Clothing
3                   4  Accessories

In [17]:
aw_product_categories_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ProductCategoryKey  4 non-null      int64
 1   CategoryName        4 non-null      object
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [18]:
aw_product_subcategories_dim = pd.read_csv(rf"{ROOT_DIR}/../storage/raw/AdventureWorks_Product_SubCategories.csv")

In [19]:
aw_product_subcategories_dim.head()

   ProductSubcategoryKey  SubcategoryName  ProductCategoryKey
0                      1   Mountain Bikes                   1
1                      2       Road Bikes                   1
2                      3    Touring Bikes                   1
3                      4       Handlebars                   2
4                      5  Bottom Brackets                   2

In [20]:
aw_product_subcategories_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductSubcategoryKey  37 non-null     int64
 1   SubcategoryName        37 non-null     object
 2   ProductCategoryKey     37 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1016.0+ bytes

In [21]:
# there are no transformations to be done on this dataset yet - just save it to the processed layer for powerbi consumption
aw_product_categories_dim.to_csv(rf"{ROOT_DIR}/../storage/processed/aw_product_categories_dim.csv", index=False)
aw_product_subcategories_dim.to_csv(rf"{ROOT_DIR}/../storage/processed/aw_product_subcategories_dim.csv", index=False)